body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* BANNER */
section.banner {
    background-image: url("../img/Marketing_LandingFeatured_Redesign_Mobile.webp");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

@media screen and (min-width:680px) {
    section.banner {
        background-image: url("../img/Marketing_LandingFeatured_Redesign.webp");
    }
}

/* TOPBAR */

.topbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    align-items: center;
}

.xlogo {
    flex: 1;
    text-align: center;
}

.topbar .logo {
    width: 150px;
    height: auto;
    display: none;
}

.topbar .top-mid {
    display: none;
}

.topbar .top-right li:nth-child(1),
.topbar .top-right li:nth-child(2) {
    display: none;
}

.top-right li:last-child a {
    font-size: 1.5rem;
    color: var(--textColor);
    opacity: 0.7;
}

.topbar .logo-mobile {
    width: 130px;
    height: auto;
    position: relative;
    z-index: 3;
}

.topbar ul {
    display: flex;
    gap: 8px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.topbar ul a {
    text-decoration: none;
    color: whitesmoke;
    padding: 3px;
    font-size: 0.7rem;
    font-weight: 700;

}

@media screen and (min-width:960px) {

    .topbar .top-right li:nth-child(1),
    .topbar .top-right li:nth-child(2),
    .topbar .top-mid,
    .topbar .logo {
        display: inline;
    }

    .topbar .xlogo {
        flex: auto;
        display: none;
    }

    .side-menu2 {
        display: none;
    }

}

/* SIDE MENU */

.checkbox {
    display: none;
}

nav.side-menu {
    position: fixed;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(22, 22, 22);
    padding: 15px 0 0 20px;
    color: darkgray;
    width: 100%;
    transform: translateX(100%);
    transition: transform 1s;
    z-index: 2;
    overflow: scroll;
}

@media screen and (min-width:630px) {
    nav.side-menu {
        left: auto;
        width: 200px;
    }
}

.side-menu label i {
    margin: 20px 0 0 20px;
    font-size: 1.5rem;
}

nav.side-menu ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 5px 0 0 20px;
    line-height: 30px;
}

.side-menu1 li {
    line-height: 35px;
}

.side-menu1 li a {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(230, 230, 230);
    font-size: 0.8rem;
}

.side-menu2 li a {
    text-decoration: none;
    color: darkgray;
    font-size: 0.8rem;
}

.side-menu2 li:first-child a {
    font-weight: bolder;
    color: rgb(230, 230, 230);
}


.checkbox:checked+nav.side-menu {
    transform: translateX(0);
}

.banner::after {
    content: "";
    transition: background-color 1s;
}

.checkbox:checked~.banner::after {
    background-color: rgba(255, 255, 255, 0.267);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

label[for="chckbox"] {
    cursor: pointer;
}

/* CONTENT */
:root {
    --textColor: rgb(255, 255, 255);
}

.content {
    color: var(--textColor);
    text-align: center;
}

.content h1 {
    font-size: 2.5rem;
    margin: 10px 0 20px 0;
    word-break: break-all;
}

.content p {
    position: absolute;
    font-size: smaller;
    font-weight: 300;
    max-width: 465px;
    left: 50%;
    transform: translateX(-50%);
}

/* ORDER FORM */

.order-form div,
a {
    color: var(--textColor);
    text-align: center;
}

.order-form {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 7px;
}

.order-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5px;
}

@media screen and (min-width: 680px) {
    .order-form form {
        flex-direction: row;
        gap: 20px;
    }
}

.order-form .txt {
    background-color: rgba(245, 245, 245, 0.267);
    padding: 10px 20px;
    border-radius: 3px;
    color: var(--textColor);
    border: 1px solid var(--textColor);
    font-size: 0.5rem;
    flex: 5;
}

.order-form .txt::placeholder {
    color: rgb(202, 202, 202);
}

.order-form .btn {
    padding: 10px;
    border-radius: 3px;
    background-color: var(--textColor);
    border: 1px solid var(--textColor);
    font-size: 0.5rem;
    font-weight: bold;
    flex: 2;
}

.order-form .map a {
    text-decoration: none;
    font-size: 0.6rem;
    font-weight: bold;
}

.order-form .priv {
    font-size: 0.45rem;
    color: gray;
}

.order-form .priv a {
    font-size: 0.5rem;
    color: darkgray;
}

/* MAIN */

main>section {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: var(--textColor);
    margin: 0;
    position: relative;
}

main img {
    object-fit: cover;
    width: 100%;
    height: 330px;
}

@media screen and (min-width: 960px) {
    main>section {
        flex-direction: row;
    }

    main img {
        object-fit: cover;
        height: 100vh;
    }

    .reverse {
        flex-direction: row-reverse;
    }
}

main>section>div {
    flex: 1 0 50%;
}

main>section>div:last-child {
    padding: 10px 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 630px) {
    main>section>div:last-child {
        padding: 10px 30%;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 960px) {
    main>section>div:last-child {
        padding: 50px 13% 50px 50px;
        align-items: flex-start;
    }

    main>section {
        font-size: 1.3rem;
    }
}

main>section p {
    font-size: 0.6rem;
    font-weight: 300;
}

main>section button {
    background-color: black;
    color: var(--textColor);
    border: 1px solid whitesmoke;
    border-radius: 3px;
    font-size: 0.6rem;
    padding: 10px 50px;
    font-weight: bold;
}

/* TRAVEL */

section.trv {
    display: block;
    background-image: url("../img/Marketing_LandingTravel_Redesign3.webp");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: auto 100vh;
}

section.trv button {
    background-color: rgba(245, 245, 245, 0.021);
    font-weight: bolder;
    margin-top: 15%;
}

section.trv div {
    position: relative;
}

@media screen and (min-width: 960px) {
    section.trv {
        background-size: cover;
    }

    section.trv div {
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 50%;
        justify-content: center;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media screen and (min-width: 960px) {
    .buttons {
        flex-direction: row;
        gap: 10px;
    }
}

section.quotes {
    background-color: rgb(34, 34, 34);
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding: 15vh 5vh;

}

section.quotes ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.quotes ul li {
    font-size: small;
    font-weight: 300;
    padding: 10px;
}

@media screen and (min-width: 630px) {
    section.quotes ul {
        flex-direction: row;
        font-size: medium;
    }

    .quotes ul li {
        padding: 15px;
    }

    section.quotes {
        padding: 17vh 13vh;
    }
}

/* BOTTOM */
.line-spacer span {
    display: block;
    height: 150px;
    width: 1px;
    background-color: whitesmoke;
    margin: 30px auto;
}

section.mail {
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

section.mail div {
    font-size: x-small;
}

section.mail .mbform {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

section.mail .mbform .txt {
    position: relative;
    background-color: rgba(245, 245, 245, 0.151);
    padding: 10px 20px;
    border-radius: 3px;
    color: var(--textColor);
    border: 2px solid gray;
    font-size: 0.5rem;
    max-width: 60%;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
}

@media screen and (min-width: 630px) {

    section.mail .mbform .txt,
    section.mail .mbform .btn {
        max-width: 40%;
    }
}


.mail .btn {
    position: relative;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 0.5rem;
    max-width: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(80, 80, 80);
    border: 2px solid rgb(82, 82, 82);
    font-weight: bold;
}

.mail .priv {
    font-size: 0.45rem;
    color: gray;
}

.mail .priv a {
    font-size: 0.5rem;
    color: rgb(214, 214, 214);
}

@media screen and (min-width: 960px) {
    section.mail .mbform {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    section.mail .mbform .txt {
        left: 45%;
        width: 20%;
    }

    section.mail .mbform .btn {
        left: 40%;
        width: 10%;
    }

}

footer.ftr {
    display: flex;
    background-color: black;
    color: rgb(128, 128, 128);
    flex-direction: column;
    text-align: center;
    font-size: xx-small;
    font-weight: 300;
    padding-bottom: 15px;
    gap: 4px;
}

footer div a,
footer div span {
    color: rgb(230, 230, 230);
    font-weight: 500;
    text-decoration: none;
}

@media screen and (min-width: 630px) {
    footer.ftr {
        flex-direction: row;
        justify-content: space-around;
    }

    .ftr div {
        flex: 1;
    }
}

footer div span a {
    padding: 5px;
}

.up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: rgba(136, 136, 136, 0.384);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up a {
    color: black;
}