nav.navbar {
    background-color: grey;
    width: 80px;
}

.navbar ul {
    list-style-type: georgian;
    list-style-position: inside;
    padding: 0;
}

.navbar a,
.navbar li {
    padding-left: 4px;
}

.navbar li:hover {
    background-color: rgb(87, 87, 87);
    color: whitesmoke;
}