.bg1 {
    background-image: linear-gradient(rgb(0, 172, 0), blue);
    padding: 50px;
}

.bg2 {
    background-image: linear-gradient(rgb(17, 0, 255), rgb(21, 179, 0), yellow);
    padding: 50px;
}

.bg3 {
    background-image: linear-gradient(to right, rgb(17, 0, 255), rgb(21, 179, 0), yellow, rgb(192, 255, 231));
    padding: 50px;
}

.bg4 {
    background-image: linear-gradient(20deg, rgb(17, 0, 255), rgb(21, 179, 0), yellow, rgb(192, 255, 241));
    padding: 50px;
}

.bg5 {
    background-image: linear-gradient(to right, blue, 10%, rgb(0, 209, 0));
    padding: 50px;
}

.bg6 {
    background-image: radial-gradient(blue, 40%, rgb(0, 209, 0));
    padding: 50px;
}

.bg7 {
    background-image: radial-gradient(circle, blue, rgb(0, 209, 0));
    padding: 50px;
}