.chck-mode {
    display: none;
}

.chck-mode:checked+.content {
    background-color: rgb(80, 80, 80);
    color: rgb(180, 180, 180);
}

label {
    display: inline-block;
    background-color: dimgray;
    padding: 7px;
    border-radius: 3px;
}