.box1 {
    background-color: aqua;
    width: 3cm;
    height: 25px;
    /* pixel */
    /* ppi = pixel per inch */
}

.box2 {
    background-color: blueviolet;
    width: 30%;
}

.box2v1 {
    background-color: dimgray;
    text-align: center;
    width: 50%;
}

.box3 {
    background-color: chartreuse;
    width: 50vw;
    /* viewport width */
    height: 5vh;
    /* viewport height */
}

.box4 {
    background-color: rgb(252, 229, 102);
    font-size: 2em;
    /* depends on parent size */
}

.box4v1 {
    font-size: 2em;
    /* depends on parent size */
}

.box4v1 {
    font-size: 2.5rem;
    /* depends on root element (<html> 16 px)size */
}