h1 {
    font-size: 4rem;
    color: #0300ac;
    text-align: center;
}

.info {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(255, 243, 226);
    background-color: rgb(255, 0, 255);
}