.header {
    color: red;
}

h1 {
    color: indigo;
}

h1.header {
    color: cyan;
}

/* comment */

nav.menu li {
    /* all li's in nav */
    color: blueviolet;
}



nav.menu>ul>li {
    /* only nav's children - not relatively */
    color: rgb(0, 132, 255);
}

nav.menu ul ul li {
    text-decoration: underline;
}

nav.menu ul ul li:last-child {
    font-weight: bolder;
}

nav.menu+p {
    /* first p after nav.menu */
    background-color: darkgrey;
}

nav.menu~p {
    /* all p's after navçmenu --- ~ tilt */
    color: darkviolet;
}


nav.menu ul>li:nth-child(4)~li {
    font-weight: bolder;
    color: brown;
}